.simulador-layout {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

    padding: 30px;

}

/* columnas */

.resultados {

    order: 1;

}

.graficos {

    order: 2;

}

.variables {

    order: 3;

}


/* sliders */

input[type="range"] {

    width: 100%;
    margin-bottom: 18px;

}

label {

    display: block;
    margin-top: 15px;
    font-weight: bold;

}


/* placeholder grafico */

.placeholder-grafico {

    height: 400px;
    border: 2px dashed #ccc;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #888;

}

@media (max-width: 900px) {

    .simulador-layout {

        grid-template-columns: 1fr;
        gap: 10px;

    }

    /* orden celular */

    .variables {
        order: 1;
    }

    .resultados {
        order: 2;
    }

    .graficos {
        order: 3;
        display: none;
    }

}